*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/*.............................................................................*/

.contenido-encabezado{
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    background-image: url(portada.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 160px 170px  rgba(0, 0, 0, .9);
    color: #fff;
   /* border: 2px solid yellow;*/
}

.contenedor-total{
  /*  border: 2px solid red;*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/*-------------------------------------------------------------------------------------MENÚ--------------------*/
.contenedor-total .contenedor-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 5px;
  /*  border: 2px solid white;*/
}

.contenedor-total .contenedor-menu .contenedor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    margin-left: 15px;
}

.contenedor-total .contenedor-menu .contenedor-logo .logotipo{
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Kalam', cursive;
}

.contenedor-total .contenedor-menu .contenedor-logo .icono{
    font-size: 28px;
    color: yellow;
    margin: 0px 8px;
    
  }

  
  .contenedor-total .contenedor-menu .contenedor-nav a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px;
    transition: all ease 1s;
  }

  .contenedor-total .contenedor-menu .contenedor-nav a:hover{
      color: yellow;
      border: 1px solid yellow;
      border-radius: 30px;
  }

/*----------------------------------------------------------------------PORTADA-texto----------------------------*/

.contenedor-total .principal {
    text-align: center;
  /*  border: 3px solid orange;*/
    padding: 10px;
}

.contenedor-total .principal .titulo, .descripcion{
    letter-spacing: 2px;
    padding-bottom: 5px;
}


/*----------------------------------------------------------------------PORTADA-CHAKRAS----------------------------*/


.contenedor-total .btn-7{
  position: absolute;
  left: 50%;
  top: 25%;
  cursor: pointer;
}

.contenedor-total .btn-6{
    position: absolute;
    left: 50%;
    top: 33%;
    cursor: pointer;
  }

  .contenedor-total .btn-5{
    position: absolute;
    left: 50%;
    top: 43%;
    cursor: pointer;
  }

  .contenedor-total .btn-4{
    position: absolute;
    left: 50%;
    top: 51%;
    cursor: pointer;
  }

  .contenedor-total .btn-3{
    position: absolute;
    left: 50%;
    top: 60%;
    cursor: pointer;
  }

  .contenedor-total .btn-2{
    position: absolute;
    left: 50%;
    top: 69%;
    cursor: pointer;
  }

   .contenedor-total .btn-1{
    position: absolute;
    left: 50%;
    top: 78%;
    cursor: pointer;
   
  }
/*.........................................Esferas chakras. ANIMACIÓN......................................*/

.neon-7{
    width: 27px;
    height: 27px;
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    left:-8px;
    animation: chakra7 2s infinite alternate;
}

@keyframes chakra7{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 18px rgb(146, 39, 146),
                    3px 3px 5px rgb(158, 66, 158),
                    -3px -3px 5px rgb(168, 108, 168),
                    -9px -9px 27px rgb(199, 64, 199);
    }
    10%, 15%, 60%{
        box-shadow: none;
    }
}


.neon-6{
    width: 27px;
    height: 27px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    left:-8px;
    animation: chakra6 3s infinite alternate;
}

@keyframes chakra6{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 18px rgb(142, 73, 207),
                    3px 3px 5px rgb(128, 87, 167),
                    -3px -3px 5px rgb(236, 177, 236),
                    -9px -9px 27px rgb(191, 147, 231);
    }
    10%, 15%, 60%{
        box-shadow: none;
    }
}



.neon-5{
    width: 27px;
    height: 27px;
    background-color: #41aaf0;
    border-radius: 50%;
    position: absolute;
    left:-8px;
    top: 2px;
    animation: chakra5 4s infinite alternate;
}

@keyframes chakra5{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 18px #7bbeeb,
                    3px 3px 5px #84c8f5,
                    -3px -3px 5px #bddff7,
                    -9px -9px 27px #a2ceee;
    }
    10%, 15%, 60%{
        box-shadow: none;
    }
}



.neon-4{
    width: 27px;
    height: 27px;
    background-color: #0bf199;
    border-radius: 50%;
    position: absolute;
    left:-8px;
    top: 2px;
    animation: chakra4 5s infinite alternate;
}

@keyframes chakra4{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 18px #76eec0,
                    3px 3px 5px #7edab8,
                    -3px -3px 5px #beecdb,
                    -9px -9px 27px #69d4ab;
    }
    10%, 15%, 60%{
        box-shadow: none;
    }
}



.neon-3{
    width: 27px;
    height: 27px;
    background-color: rgb(238, 238, 14);
    border-radius: 50%;
    position: absolute;
    left:-8px;
    top: 2px;
    animation: chakra3 6s infinite alternate;
}

@keyframes chakra3{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 18px rgb(211, 211, 104),
                    3px 3px 5px rgb(247, 247, 120),
                    -3px -3px 5px rgb(245, 245, 201),
                    -9px -9px 27px rgb(201, 201, 141);
    }
    10%, 15%, 60%{
        box-shadow: none;
    }
}


.neon-2{
    width: 27px;
    height: 27px;
    background-color: rgb(221, 93, 47);
    border-radius: 50%;
    position: absolute;
    left:-8px;
    top: 3px;
    animation: chakra2 7s infinite alternate;
}

@keyframes chakra2{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 18px rgb(241, 116, 70),
                    3px 3px 5px rgb(235, 181, 161),
                    -3px -3px 5px rgb(248, 208, 193),
                    -9px -9px 27px rgb(245, 211, 199);
    }
    10%, 15%, 60%{
        box-shadow: none;
    }
}


.neon-1{
    width: 27px;
    height: 27px;
    background-color: rgb(253, 3, 3);
    border-radius: 50%;
    position: absolute;
    left:-8px;
    top: 3px;
    animation: chakra1 8s infinite alternate;
}

@keyframes chakra1{
    0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100%{
        box-shadow: 9px 9px 18px rgb(243, 105, 105),
                    3px 3px 5px rgb(235, 167, 167),
                    -3px -3px 5px rgb(231, 162, 162),
                    -9px -9px 27px rgb(243, 189, 189);
    }
    10%, 15%, 60%{
        box-shadow: none;
    }
}
 
/*------------------------------ESTRELLAS-lado izquierdo-----------------------------------------------------*/

.contenedor-total .s-1{
    position: absolute;
    top: 46.7%;
    left: 11%;
    /*color: yellow;*/
}

.contenedor-total .s-2{
    position: absolute;
    top: 36%;
    left: 31%;
   /* color: red;*/
}

.contenedor-total .s-3{
    position: absolute;
    top: 71%;
    left: 15%;
    color: rgb(220, 217, 217);
}
.contenedor-total .s-4{
    position: absolute;
    top: 65%;
    left: 34.5%;
    /*color: red;*/
}
.contenedor-total .s-5{
    position: absolute;
    top: 71%;
    left: 28.5%;
    /*color: yellow;*/
}
.contenedor-total .s-6{
    position: absolute;
    top: 47%;
    left: 31.5%;
    /*color: yellow;*/
}
.contenedor-total .s-7{
    position: absolute;
    top: 49%;
    left: 38.5%;
    /*color: yellow;*/
}
.contenedor-total .s-8{
    position: absolute;
    top: 30%;
    left: 40%;
    /*color: yellow;*/
}
.contenedor-total .s-9{
    position: absolute;
    top: 14%;
    left: 41.5%;
    /*color: red;*/
}
.contenedor-total .s-10{
    position: absolute;
    top: 16%;
    left: 45.4%;
   /* color: yellow;*/
}
.contenedor-total .s-11{
    position: absolute;
    top: 20%;
    left: 50%;
    color: rgb(220, 217, 217);
}

/*---------------------------------------------------ESTRELLAS lado derecho----------------------------*/
.contenedor-total .s-12{
    position: absolute;
    top: 56%;
    left: 58%;
   /* color: yellow;*/
}

.contenedor-total .s-13{
    position: absolute;
    top: 23%;
    left: 57.6%;
   /* color: red;*/
}

.contenedor-total .s-14{
    position: absolute;
    top: 22%;
    left: 71.3%;
   /* color: yellow;*/
}
.contenedor-total .s-15{
    position: absolute;
    top: 34%;
    left: 83%;
   /* color: yellow;*/
}
.contenedor-total .s-16{
    position: absolute;
    top: 31%;
    left: 84%;
  /*  color: yellow;*/
}
.contenedor-total .s-17{
    position: absolute;
    top: 26.7%;
    left: 78.4%;
  /*  color: yellow;*/
}
.contenedor-total .s-18{
    position: absolute;
    top: 30%;
    left: 90%;
    /*color: yellow;*/
}
.contenedor-total .s-19{
    position: absolute;
    top: 69%;
    left: 87%;
   /* color: yellow;*/
}
.contenedor-total .s-20{
    position: absolute;
    top: 70%;
    left: 97%;
   /* color: yellow;*/
}
.contenedor-total .s-21{
    position: absolute;
    top: 58%;
    left: 87%;
    /*color: yellow;*/
}

.contenedor-total .s-22{
    position: absolute;
    top: 78%;
    left: 97%;
   /* color: yellow;*/
}

/*--------------------------------------ANIMACIÓN ESTRELLAS------------------------------------------------*/

.neon-bco{
    color: #c2a9a9;
    font-size: 25px;
    animation: neon-blanco 4s infinite alternate;
}

@keyframes neon-blanco{
    0%, 15%, 30%, 40%, 50%, 60%, 70%, 90%, 100%{
        text-shadow:8px 8px 16px #fff,
        8px 8px 16px #fff,
        -8px 8px 16px #fff,
        -8px 8px 16px #fff;
    }

    10% ,15%, 45%, 60%, 75%, 80%{
        text-shadow: none;
    }
}

/*................................*/
.neon-azul{
    color: #1a1818;
    font-size: 15px;
    animation: neon-azul 6s infinite alternate;
}

@keyframes neon-azul{
    0%, 15%, 40%, 50%, 60%, 70%, 100%{
        text-shadow:8px 8px 16px #438dfc,
        8px 8px 16px #438dfc,
        -8px 8px 16px #438dfc,
        -8px 8px 16px #438dfc;
    }

    10%, 60%, 75%, 80%{
        text-shadow: none;
    }
}

/*........................................*/
.neon-rosa{
    color: rgb(226, 168, 204);
    font-size: 25px;
    animation: neon-rosa 7s infinite alternate;
}

@keyframes neon-rosa{
    0%, 15%, 30%, 40%, 50%, 60%, 70%, 90%, 100%{
        text-shadow:8px 8px 16px rgb(194, 4, 99),
        8px 8px 16px rgb(177, 2, 89),
        -8px 8px 16px rgb(141, 2, 72),
        -8px 8px 16px rgb(146, 1, 74);
    }

    10% ,15%, 45%, 60%, 75%, 80%{
        text-shadow: none;
    }
}

